# Do not track any measurements in the /bag directory
/bag/*
!/bag/.gitkeep

# ROS build files
build/
devel/

# ROS logs
log/
logs/

# ROS install space
install/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE specific files
.vscode/
.idea/

# Other
*.swp
*~