<launch>
    <!-- Use Nodelet implementation -->
    <include file="$(find radar_rig_sensor_fusion)/launch/master_nodelet.launch"> </include>

    <!-- Uing Nodes requires nodelets to be re-written to work as nodes within the mav_sensors_ros repository. -->
    <!-- <include file="$(find radar_rig_sensor_fusion)/launch/master_node.launch"> </include> -->
</launch>