<launch>
    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="sensors_nodelet_manager" args="manager" cwd="node" output="screen" if="True"/>

    <!-- Radar: TIAWR1843AOP -->
    <node pkg="nodelet" type="nodelet" name="radar" args="load mav_sensors_ros::RadarNodelet sensors_nodelet_manager" output="screen">
        <param name="path_cfg" value="/dev/ttyUSB0"/>
        <param name="path_data" value="/dev/ttyUSB1"/>
        <param name="frame_id" value="awr1843aop"/>
        <param name="poll_rate" value="8.0"/>
        <param name="radar_cfg" value="$(find radar_rig_sensor_fusion)/cfg/radar/xwr18xx_AOP_profile_best_velocity_resolution.cfg"/>
        <param name="trigger" type="string" value="false"/>
        <param name="trigger_delay" type="string" value="500"/>
        <param name="trigger_gpio" type="string" value="389"/>
        <param name="trigger_gpio_name" type="string" value="PG.06"/>
        <!-- flip_z (boolean): Flips direction of z-axis. If not defined in launch file, default value 'false' is used.
                               Flipping z-axis makes coordinate system right-handed. -->
        <param name="flip_z" type="bool" value="true"/>
    </node>

    <!-- Static frame publisher -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="radar_to_map" args="0 0 0 0 0 0 1 map awr1843aop" />


    <!-- RVIZ of TI sensor -->
    <group if="true">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find radar_rig_sensor_fusion)/cfg/rviz/ti.rviz" output="screen"/>
    </group>
</launch>