<launch>
    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="sensors_nodelet_manager" args="manager" cwd="node" output="screen" if="True"/>

    <!-- Radar: TIAWR1843AOP -->
    <!-- flip_z (boolean): Flipping z-axis to make coordinate frame right-handed. -->
    <!-- ATTENTION: if set to false, then tf2_ros transform between /radar and /awr1843aop will be incorrect! -->
    <arg name="flip_z" value="false"/>
    <node pkg="nodelet" type="nodelet" name="radar" args="load mav_sensors_ros::RadarNodelet sensors_nodelet_manager" output="screen"> 
    <!-- launch-prefix="bash -c 'sleep 5.0; $0 $@' "> -->
        <param name="path_cfg" value="/dev/ttyUSB0"/>
        <param name="path_data" value="/dev/ttyUSB1"/>
        <param name="frame_id" value="awr1843aop"/>
        <param name="poll_rate" value="8.0"/>
        <param name="radar_cfg" value="$(find radar_rig_sensor_fusion)/cfg/radar/xwr18xx_AOP_profile_best_velocity_resolution.cfg"/>
        <param name="trigger" type="string" value="false"/>
        <param name="trigger_delay" type="string" value="500"/>
        <param name="trigger_gpio" type="string" value="389"/>
        <param name="trigger_gpio_name" type="string" value="PG.06"/>
        <param name="flip_z" value="($arg flip_z)"/>
    </node>
    
    <!-- IMU: -->
    <node pkg="nodelet" type="nodelet" name="imu" args="load mav_sensors_ros::ImuNodelet sensors_nodelet_manager" output="screen" if="true">
        <rosparam file="$(find mav_sensors_ros)/cfg/imu.yaml" />
        <param name="path_acc" value="/dev/spidev0.0"/>
        <param name="path_gyro" value="/dev/spidev0.1"/>
        <param name="frame_id" value="bmi088"/>
        <param name="poll_rate" value="500.0"/>
        <param name="bias_samples" value="2000"/>
    </node>

    <!-- IMU Filter: Madgwick -->
    <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet sensors_nodelet_manager" output="screen">
        <param name="publish_tf" value="false"/>
        <param name="use_mag" value="false"/>
    </node>

    <!-- VICON tracking -->
    <arg name="use_vicon" default="true"/>
    <group if="$(arg use_vicon)">
        <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
            <arg name="object_name" value="radar" />
            <param name="use_sim_time" value="true"/>
        </include>
    </group>


    <!-- Frame Transformations -->
    <!-- Radar (from vicon) to IMU frame -->
    <group if="$(arg flip_z)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="radarRigOrigin_to_radarTI" args="0 -0.1018 0 0.5 0.5 0.5 0.5 /radar /awr1843aop" output="screen"/>
    </group>

    <!-- ROS Bag recording -->
    <arg name="record" default="false"/>
    <arg name="bag_name" default="my_bag"/>
    <group if="$(arg record)">
        <node pkg="radar_rig_sensor_fusion" type="record_bag.sh" name="rosbag_record" 
        args="$(find radar_rig_sensor_fusion)/bag/$(arg bag_name) $(arg bag_name)" output="screen"/>
    </group>

    <!-- Visualize RVIZ -->
    <group if="false">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_rig_sensor_fusion)/rviz/master.rviz" output="screen"/>
    </group>

</launch>
