<launch>
    <!-- Static transform from /radar to /awr1843aop -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="radar_to_awr1843aop" args="0.0 -0.1018 0.0 0.5 0.5 0.5 0.5 /radar /awr1843aop" />

    <!-- Static transform from /radar to /Zadar -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="radar_to_Zadar" args="0.0 0.1018 0.011 0.71 0 0.71 0.0 /radar /zadar" />

    <!-- Static transform from /radar to /bmi088 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="radarRigOrigin_to_IMU" args="0 0 0 0 0 0 1 /radar /bmi088" output="screen"/>

</launch>
