<launch>
    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="sensors_nodelet_manager" args="manager" cwd="node" output="screen" if="True"/>
    
    <!-- IMU: -->
    <node pkg="nodelet" type="nodelet" name="imu" args="load mav_sensors_ros::ImuNodelet sensors_nodelet_manager" output="screen" if="true">
        <rosparam file="$(find mav_sensors_ros)/cfg/imu.yaml" />
        <param name="path_acc" value="/dev/spidev0.0"/>
        <param name="path_gyro" value="/dev/spidev0.1"/>
        <param name="frame_id" value="bmi088"/>
        <param name="poll_rate" value="500.0"/>
        <param name="bias_samples" value="2000"/>
    </node>

    <!-- IMU Filter: Madgwick -->
    <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet sensors_nodelet_manager" output="screen">
        <param name="publish_tf" value="false"/>
        <param name="use_mag" value="false"/>
    </node>

    <!-- Radar: ZadarLabs ZPrime (Node implementation. More parameters can be found in zprime.launch)-->
    <include file="$(find zadarlabs_arm_ros1)/launch/zprime.launch">
        <arg name="run_rviz" value="false"/> 
        <arg name="radar_mode" value="1"/> <!-- This variable adjusts mode of zprime -->
        <arg name="radar_serial_number" value="0225CCW002"/> <!-- Serial number -->
        <param name="use_sim_time" value="true"/>
    </include>

    <!-- VICON tracking -->
    <arg name="use_vicon" default="false"/>
    <group if="$(arg use_vicon)">
        <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
            <arg name="object_name" value="radar" />
            <param name="use_sim_time" value="true"/>
        </include>
    </group>

    <!-- Frame Transformations -->
    <!-- From VICON to ZadarLabs -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="radarRigOrigin_to_radarZadarlabs" args="0 0.1018 0.0115 0.71 0 0.71 0.0 /radar /zadar" output="screen"/>

    <!-- RIO -->
    <arg name="radar_topic" default="/zadar/scan0"/>
    <arg name="nodelet_manager_on" default="true" />
    <arg name="nodelet_manager_name" default="rio_nodelet_manager" />

    <arg name="rio_queue_size" default="1" />
    <arg name="rio_odom_frame_id" default="radar" />
    <arg name="radar_frame_id" default="zadar" />
    <arg name="cam_frame_id" default="cam" />
    <arg name="imu_frame_id" default="bmi088" />

    <arg name="visualize" default="false"/>

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" cwd="node" output="screen" if="$(arg nodelet_manager_on)"/>

    <node pkg="nodelet" type="nodelet" name="rio" args="load rio::RioNodelet $(arg nodelet_manager_name)" output="screen">
        <rosparam file="$(find rio)/cfg/rio.yaml" />
        <param name="queue_size" value="$(arg rio_queue_size)"/>
        <param name="odom_frame_id" value="$(arg rio_odom_frame_id)"/>
        <param name="radar_topic" value="$(arg radar_topic)"/>
    </node>

    <!-- ROS Bag recording -->
    <arg name="record" default="false"/>
    <arg name="bag_name" default="my_bag"/>
    <group if="$(arg record)">
        <node pkg="radar_rig_sensor_fusion" type="record_bag.sh" name="rosbag_record" 
        args="$(find radar_rig_sensor_fusion)/bag/$(arg bag_name) $(arg bag_name)" output="screen"/>
    </group>

    <!-- Visualize RVIZ -->
    <group if="false">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_rig_sensor_fusion)/rviz/master.rviz" output="screen"/>
    </group>

</launch>
